<link rel="stylesheet" href="/images/style.css" type="text/css">
{% block body %}
    {% if session['logged_out'] %}
        <p> log in first!</p>
    {% else %}


        <form action="/send" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Message</h1>
                    </div>
                    <label for="machines">Choose a machine:</label>

                    <select style="border-color: #36a2f4; background: #fff0f0; width: 260px; font-size: 32px;
                        font-family: 'monospace'; font-palette: dark; color: #043e11" name="machines" id="machines">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="Message" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <input type="submit" value="Send" class="btn btn-primary btn-large btn-block">
                    <br>
                </div>
            </div>
            </div>
        </form>

    {% endif %}
{% endblock %}
